*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-header{
  font-family: 'Work Sans';
}

summary::after {
  width: 1.875rem;
  height: 1.875rem;
}

details[open] summary::after {
  content: url('./assets/images/icon-minus.svg');
}

details:not([open]) summary::after {
  content: url('./assets/images/icon-plus.svg');
}